#home {
    background-image: url(../../../assets/images/header-bg-svg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #009247;
    border-radius: 15px;
    margin-top: 1rem;
}

#fillRecipe {
    background-color: #f0ffef;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 1rem;
}
