<section>
    <div class="header-page container ">
        <div class="row align-items-center">
            <div class="col-8">
                <h4>Categories <span>item</span></h4>
                <p class="mb-0">You can now add your items that any user can order it from the Application and you can
                    edit</p>
            </div>
            <div class="col-4 text-end">
                <img src="../../../../assets/images/menu-avatar.svg" alt="">
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex align-items-center justify-content-between">
        <div class="w-75">
            <h6>Categories Table Details</h6>
            <p>You can check all details</p>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input [(ngModel)]="searchKey" (keyup.enter)="getCategories()" type="text" class="form-control"
                    placeholder="Search By Name" aria-label="Username" aria-describedby="basic-addon1">

            </div>
        </div>
        <div>
            <button class="main" (click)="openAddCategoryDialog()">Add New Category</button>
        </div>

    </div>

    <div *ngIf="tableData.length>0">
        <table  class="table table-striped">
            <thead>
                <th>Name</th>
                <th>creation Date</th>
                <th>modification Date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData">
                    <td>{{item.name}}</td>
                    <td>{{item.creationDate|date:'dd/MM/yyyy, h:mm a'}}</td>
                    <td>{{item.modificationDate|date:'dd/MM/yyyy, h:mm a'}}</td>
                    <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon color="primary">more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">

                            <button (click)="openEditCategoryDialog(item)" mat-menu-item>

                                <mat-icon color="primary">edit_square</mat-icon>
                                <span>edit</span>
                            </button>
                            <button (click)="openDeleteCategoryDialog(item)" mat-menu-item>
                                <mat-icon color="primary">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>

            </tbody>
        </table>
        <mat-paginator  [length]="tableResponse?.totalNumberOfRecords" [pageSize]="tableResponse?.pageSize"
            [pageIndex]="tableResponse?.pageNumber" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)"
            aria-label="Select page">

        </mat-paginator>

    </div>

    <div *ngIf="tableData.length==0">
        <div class="text-center">

            <img src="../../../../assets/images/no-data.png" alt="">
            <h5>No Data </h5>
        </div>
    </div>



</section>