// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$foodRecipe-primary: mat.define-palette(mat.$green-palette);
$foodRecipe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$foodRecipe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$foodRecipe-theme: mat.define-light-theme(
  (
    color: (
      primary: $foodRecipe-primary,
      accent: $foodRecipe-accent,
      warn: $foodRecipe-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($foodRecipe-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-form {
  width: 60%;
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 0px;
  h2 {
    font-size: 25px;
    color: #494949;
  }

  p {
    color: rgba(73, 73, 73, 0.6);
  }
  i {
    color: #8391a1;
  }
}
button {
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 10px 8px;

  &.main {
    background-color: #4aa35a;
    color: #fff;
    :disabled {
      opacity: 0.5;
    }
  }
  &.outline-main {
    border: 1px solid #4aa35a;
    background: #fff;
    color: #4aa35a;
    transition: all 1s;
    &:hover {
      // border: 1px solid #4aa35a;
      background: #4aa35a;
      color: #fff;
    }
  }
  &.second {
    background-color: red;
    color: #fff;
  }
}

.text-main {
  color: #4aa35a !important;
}

.text-dark2 {
  color: #1f263e !important;
}
.bg-dark2 {
  background-color: #1f263e !important;
}
.text-custom-dark {
  color: #3a3a3d !important;
}
.bg-main {
  background-color: #4aa35a !important;
}
.bg-custom-dark {
  background-color: #3a3a3d !important;
}
.myPointer {
  cursor: pointer;
}

.header-page {
  background-image: url(assets/images/header-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  border-radius: 15px;
  color: #fff;
  margin-top: 10px;

  img {
    width: 30%;
  }
}
